# **10 Python Programs**

In [ ]:
num1=int(input("Enter first number"))
num2=int(input("Enter second number"))
num3=int(input("Enter third number"))
sum=num1+num2+num3
print(f"Sum of value is : {num1} and {num2} and {num3} is = {sum}")

Enter first number77
Enter second number67
Enter third number24
Sum of value is : 77 and 67 and 24 is = 168

In [ ]:
Base=float(input("Enter Base of Triangle"))
Height=float(input("Enter Height of Triangle"))
area=0.5 * Base * Height
print(area)

Enter Base of Triangle87
Enter Height of Triangle55
2392.5

In [ ]:
Base=float(input("Enter Base of Triangle"))
Height=float(input("Enter Height of Triangle"))
area=0.5 * Base * Height
print(f"Area of Triangle : {Base} and Height{Height} is = {area}")

Enter Base of Triangle66
Enter Height of Triangle87
Area of Triangle : 66.0 and Height87.0 is = 2871.0

In [ ]:
a=input("Enter First Number")
b=input("Enter Second Number")
Division=int(a)//int(b)
print(f"Division of Value is : {a} and {b} is = {Division}")

Enter First Number300
Enter Second Number30
Division of Value is : 300 and 30 is = 10

In [ ]:
a=input("Enter First Value")
b=input("Enter Second Value")
print(f"Before Swapping : a={b} and b={a}")
swap=a
b=a
a=swap
print(f'After Swapping : a={a} and b={b}')

Enter First Value88
Enter Second Value34
Before Swapping : a=34 and b=88
After Swapping : a=88 and b=88

In [ ]:
num1=input("Enter first value")
num2=input("Enter second value")
num3=input("Enter third value")
print(f"Before Swapping : num1={num1} and num3={num3} and num2={num2}")
swap=num1
num3=num2
num2=num3
print(f"After Swapping : num1={num2} and num3={num2} and num2={num3}")

Enter first value11
Enter second value22
Enter third value33
Before Swapping : num1=11 and num3=33 and num2=22
After Swapping : num1=22 and num3=22 and num2=22

In [9]:
import random
print(f"Random Number: {random.randint(300, 1000)}")

Random Number: 796

In [11]:
celsius=float(input("Enter Temprature of celsius"))
fahrenheit=(celsius * 5/9)+32
print(f"{celsius} degrees Celsius is = {fahrenheit} degree Fahrenhiet")

Enter Temprature of celsius40
40.0 degrees Celsius is = 54.22222222222222 degree Fahrenhiet

In [12]:
fahrenheit=float(input("Enter Temprature of Fahrenheit"))
celsius=(fahrenheit-32) * 5/9
print(f"{fahrenheit} degree Fahrenheit is = {celsius} degree of Celsius")

Enter Temprature of Fahrenheit40
40.0 degree Fahrenheit is = 4.444444444444445 degree of Celsius

In [13]:
import calendar
year=int(input("Enter Year"))
month=int(input("Enter Month"))
Calendar=calendar.month(year,month)
print(f"Calendar of {year} and {month} is = {Calendar}")

Enter Year2024
Enter Month11
Calendar of 2024 and 11 is =    November 2024
Mo Tu We Th Fr Sa Su
             1  2  3
 4  5  6  7  8  9 10
11 12 13 14 15 16 17
18 19 20 21 22 23 24
25 26 27 28 29 30