# **Comparison Operators**

In [ ]:
x=44
y=77
print(x==y)

False

In [ ]:
st1="Usman is very Innocent"
st2="usman Is very Innocent"
print(st1==st2)

False

In [ ]:
num1=float(input("Enter first number"))
num2=float(input("Enter second number"))
print(num1==num2)

Enter first number3.4
Enter second number3.4
True

In [ ]:
a="Usman is very kind"
b="Usman is very kind"
c="Usman is very kind"
print(a==b==c)

True

In [ ]:
a="Usman is very kind"
b="Usman is very kind"
c="Usman Is very kind"
print(a==b==c)

False

In [ ]:
a=34
b=22
print(a!=b)

True

In [ ]:
num1=int(input("Enter first number"))
num2=int(input("Enter second number"))
print(num1!=num2)

Enter first number44
Enter second number44
False

In [ ]:
st1=float(input("enter first number"))
st2=int(input("Enter second number"))
print(st1!=st2)

enter first number33
Enter second number33
False

In [ ]:
a="Usman is very kind"
b="Usman is very kind"
c="Usman Is very kind"
print(a==b!=c)

True

In [ ]:
st1=float(input("enter first number"))
st2=float(input("Enter second number"))
print(st1!=st2)

enter first number3.9
Enter second number3.4
True

In [ ]:
x=84777
y=5534
print(x>y)

True

In [ ]:
num1=int(input("Enter first number"))
num2=int(input("Enter second number"))
if (num1>num2):
  print("The Answer is True")
else:
  print("The Answer is False")

Enter first number44
Enter second number67
The Answer is False

In [ ]:
a="I Love Pakistan"
b="I Love Pakistani"
print(a>b)

False

In [ ]:
a=float(input("Enter first number"))
b=float(input("Enter second number"))
c=float(input("enter third number"))
d=float(input("enter fourth number"))
print(a>b>c>d)

Enter first number155555
Enter second number148589
enter third number136255
enter fourth number129987
True

In [ ]:
num1=74666
num2=54677
num3=89773
num4=2332
print(num1>num2<num3>num4)

True

In [ ]:
x=7377
y=6277
print(x<y)

False

In [ ]:
num1=float(input("Enter first number"))
num2=float(input("Enter second number"))
if (num1<num2):
  print("The Answer is Very Good")
elif (num1>num2):
  print("The Answer is Very Bad")
else:
  print("The Answer is Perfect")

Enter first number8888
Enter second number8888
The Answer is Perfect

In [ ]:
num1=float(input("Enter first number"))
num2=float(input("Enter second number"))
if (num1<num2):
  print("The Answer is Very Good")
elif (num1>num2):
  print("The Answer is Very Bad")
else:
  print("The Answer is Perfect")

Enter first number6577
Enter second number8377
The Answer is Very Good

In [ ]:
st1=float(input("Enter first number"))
st2=float(input("Enter second number"))
print(st1<st2)

Enter first number4.3
Enter second number9.5
True

In [ ]:
a="I Have a Question "
b="I Have a Questions"
print(a<b)

True

In [ ]:
x=746
y=738
print(x>=y)

True

In [ ]:
num1=float(input("Enter first number"))
num2=float(input("Enter second number"))
print(num1>=num2)

Enter first number78.44
Enter second number93.3
False

In [ ]:
st1="We Love Pakistan"
st2="We Loved Pakistan"
print(st2>=st1)

True

In [ ]:
a=int(input("Enter first number"))
b=int(input("Enter second number"))
c=int(input("enter third number"))
d=int(input("enter fourth number"))
print(a>=b>=c>=d)

Enter first number84778
Enter second number84533
enter third number93647
enter fourth number109387
False

In [ ]:
x=66
y=64
print(x<=y)

False

In [ ]:
st1="I am Going to School"
st2="I am Goings to School"
print(st1<=st2)

True

In [ ]:
num1=float(input("Enter first number"))
num2=float(input("Enter second number"))
if (num1<=num2):
  print("The Answer is Very Good")
elif (num1>=num2):
  print("The Answer is Very Bad")
else:
  print("The Answer is Perfect")

Enter first number8377
Enter second number4763
The Answer is Very Bad

In [ ]:
a="Khan is very Hard Working"
b="Aslam is very Intelligent"
c="Ali Is very Good Boy"
print(a<=b<=c)

False

# **Logical Operators**

In [ ]:
x=78
y=63
print(x>y and y<x)

True

In [ ]:
num1=int(input("Enter first number"))
num2=int(input("Enter second number"))
num3=int(input("Enter third number"))
print(num1<num2 and num2>num3 and num3<num1)

Enter first number67
Enter second number238
Enter third number50
True

In [ ]:
a=float(input("Enter first number"))
b=float(input("Enter second number"))
c=float(input("enter third number"))
d=float(input("enter fourth number"))
print(a>b and b<c and c>d)

Enter first number600
Enter second number300
enter third number450
enter fourth number350
True

In [ ]:
a="Khan is very Hard Working"
b="Aslam is very Intelligent"
c="Ali Is very Good Boy"
print(a>b and b>c and c<a)

True

In [ ]:
a=635
b=637
print(a>b or a<b)

True

In [ ]:
a=int(input(" Enter first number "))
b=int(input(" Enter second number "))
c=int(input(" enter third number "))
d=int(input(" enter fourth number "))
print(a<b or b>c or c>d)

 Enter first number 800
 Enter second number 670
 enter third number 734
 enter fourth number 300
True

In [ ]:
a=737
b=646
print(a<b or a>b)

True

In [7]:
s=849
t=566
print(not(s>t) and not(t<s))

False

In [8]:
num1=726
num2=435
print(not(num1>num2))
print(not(num2<num1))

False
False

In [11]:
x=int(input(" Enter first number "))
y=int(input(" Enter second number "))
z=int(input(" Enter third number "))
print(not(x<y))
print(not(z>y))
print(not(z>x))

 Enter first number 600
 Enter second number 787
 Enter third number 900
False
False
False

In [15]:
a=float(input(" Enter first number "))
b=float(input(" Enter second number "))
c=float(input(" enter third number "))
d=float(input(" enter fourth number "))
print(a>b and b<c and c>d)

#True is reversed into False in Not Operators

a=float(input(" Enter first number "))
b=float(input(" Enter second number "))
c=float(input(" enter third number "))
d=float(input(" enter fourth number "))
print(not(a>b) and not(b<c) and not(c>d))

 Enter first number 899
 Enter second number 678
 enter third number 754
 enter fourth number 400
True
 Enter first number 899
 Enter second number 678
 enter third number 754
 enter fourth number 400
False