**Inputs**

In [ ]:
num1=input("Enter first number")
num2=input("Enter second number")
print(num1+num2)

Enter first number34
Enter second number76
3476

In [ ]:
a=input("Enter first number")
b=input("Enter second number")
print(int(a)+int(b))

Enter first number4366
Enter second number4667
9033

In [ ]:
num1=float(input("Enter first number"))
num2=float(input("Enter second number"))
print(num1*num2)

Enter first number789.99
Enter second number874.23
690632.9577

In [ ]:
a="Usman"
b=23
c=6.5
d=True
print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

In [ ]:
num1=str(input("enter first number"))
num2=str(input("enter second number"))
print(num1+num2)

enter first number45
enter second number65
4565

In [ ]:
num1=input("Enter first number")
num2=input("Enter second number")
print("You entered",num1 ,"and", num2)

Enter first number88
Enter second number98
You entered 88 and 98

In [ ]:
a=input("Enter first number")
b=input("Enter second number")
print("You entered", a ,"and", b)

Enter first number44
Enter second number33
You entered 44 and 33

In [ ]:
s1=input("Enter first string")
s2=input("Enter second string")
print("You entered", s1 ,"and", s2)

Enter first stringusman
Enter second stringsaeed
You entered usman and saeed

In [ ]:
a=float(input("Enter first number"))
b=float(input("Enter second number"))
print("You entered", a ,"and", b)

Enter first number98.88
Enter second number43.66
You entered 98.88 and 43.66

In [ ]:
num1=input("Enter first numberd")
num2=input("Enter second number")
print(int(num1)+int(num2))

Enter first numberd77
Enter second number88
165

In [ ]:
a=input("Enter first number")
b=input("Enter second number")
print(a+b)

Enter first number2
Enter second number5
25

In [ ]:
d=int(input("Enter first number"))
e=int(input("Enter second number"))
f=int(input("Enter third number"))
a=int(input("Enter fourth number"))
print(d+e-f*a)

Enter first number100
Enter second number87
Enter third number56
Enter fourth number29
-1437

In [ ]:
num1=input("Enter first number")
num2=input("Enter second number")
num3=input("Enter third number")
num4=input("Enter fourth number")
print(int(num1)+float(num2)-int(num3)/float(num4))

Enter first number1277
Enter second number3089
Enter third number9004
Enter fourth number10000
4365.0996

In [ ]:
a=input("Enter first number")
b=input("Enter second number")
print(int(a)%int(b))

Enter first number1050
Enter second number100
50

In [ ]:
a=int(input("Enter first number"))
b=int(input("Enter second number"))
c=int(input("Enter third number"))
print("The Largest number is", max(a,b,c))

Enter first number100
Enter second number89
Enter third number300
The Largest number is 300

In [ ]:
st1=input("Enter first string")
st2=input("Enter second string")
st3=input("Enter third string")
print("The Smallest String is", min(st1,st2,st3))

Enter first stringUsman Is very Kind
Enter second stringBilal Is Very Tharkii
Enter third stringBilal and Usman are Best Friend and Roomate
The Smallest String is Bilal Is Very Tharkii

In [ ]:
a=input("Enter first number")
b=input("Enter second number")
c=input("Enter third number")
print(int(a)%int(b)%int(c))

Enter first number150000
Enter second number12000
Enter third number2400
1200

In [ ]:
num1=int(input("Enter first number"))
num2=int(input("Enter second number"))
num3=int(input("Enter third number"))
num4=int(input("Enter fourth number"))
num5=int(input("Enter fifth number"))
print(int(num1)+int(num2)-int(num3)*int(num4)/int(num5))

Enter first number6477
Enter second number7999
Enter third number546
Enter fourth number788
Enter fifth number1889
14248.235044997353

Type **Casting**

In [ ]:
num_str = "10"
num_int = int(num_str)
print(num_int, type(num_int))

10 <class 'int'>

In [ ]:
num_float = 10.99
num_int = int(num_float)
print(num_int, type(num_int))

10 <class 'int'>

In [3]:
num_int=26
num_float=float(num_int)
print(num_float)

26.0

In [4]:
num1=23.7
num2=int(num1)
print(num2)

23

In [6]:
name="34"
name=int(name)
print(name)

34

In [7]:
name="Usman"
age=22
CGPA=3.38
student=True
print(type(name))
print(type(float(age)))
print(type(int(CGPA)))
print(type(student))

<class 'str'>
<class 'float'>
<class 'int'>
<class 'bool'>

In [9]:
num1="23"
num2=33
num3=3.34
print(int(num1))
print(float(num2))
print(int(num3))

23
33.0
3

In [10]:
int_num=15
float=float(int_num)
print(float)

15.0

In [11]:
int_num=72626
str=str(int_num)
print(str)

72626

In [12]:
float=738.44
float=int(float)
print(float)

738

In [13]:
name="Bilal"
age=0
print(bool(age))

False

In [15]:
name=""
age=33
CGPA==3.9
print(bool(name))
print(int(age))
print(int(CGPA))

False
33
3

In [17]:
name=" "
print(bool(name))

True

In [1]:
name=""
print(bool(name))

False

In [2]:
st1="usman"
st2="bilal"
age=22
age1=23
print(str(st1)+str(st2))
print(int(age)+int(age1))

usmanbilal
45

In [3]:
int_num=22
float_num=float(int_num)
print(float_num)

22.0

In [4]:
int_num=0
bool_num=bool(int_num)
print(bool_num)

False

In [5]:
a="888888"
print(float(a))

888888.0

In [6]:
b=99999
print(float(b))

99999.0

In [8]:
name="Usman"
age=22
CGPA=3.5
print(str(name))
print(int(age))
print(int(CGPA))

Usman
22
3